body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.todoitem {
  counter-reset: li;
  list-style: none;
  font: 8px "Trebuchet MS", "Lucida Sans";
  padding: 2px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: left;
  text-indent: 30mm;
}
